{% extends "timetracking/mainsite.html" %}
{% load widget_tweaks %}
{% block content %}
<!--p>{{ values }}</p-->
<script type="text/javascript">
	$(document).ready(function() {
		$(".textLayer").click(function(){
			var thisText = $(this).text();
			$(this).hide();
			$(this).next(".inputLayer").show();
			var inputField = $(this).next(".inputLayer").children(".inputField");
			inputField.val(thisText);

		});
		
	});
</script>
<style type="text/css">
	.inputTextWrapper{
		border: 0px solid red;
		position: relative;
	}
	.textLayer{
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 1;
	}
	.inputLayer{
		position: absolute;
		top: 0px;
		left: 0px;
		display: none;
		border: 0px solid red;
	}
</style>



<div class="inputTextWrapper">
	<div class="textLayer">Input text</div>
	<div class="inputLayer"><input type="text" class="inputField"></div>
</div>



{% endblock %}