{% extends "timetracking/mainsite.html" %}
{% load widget_tweaks %}
{% block content %}
<!--p>{{ values }}</p-->
<script type="text/javascript">
	$(document).ready(function() {
		
		$(".toggleDisplayInput").click(function(){
			var projectId = $(this).attr("projectId");
			toggleDisplayInput($(this),projectId,"changeProjectName");
		});

	});
</script>
<style type="text/css">
	.boldHeadline{
		font-weight: bold;
	}
</style>

<div class="toggleDisplayInput boldHeadline pointThis" projectId="1">foobidoobieh</div>
<br>
<div class="toggleDisplayInput boldHeadline pointThis" projectId="2">abcd</div>
<!--br>
<div class="toggleDisplayInput boldHeadline">efg</div>
<br>
<div class="toggleDisplayInput boldHeadline">hij</div-->


{% endblock %}